<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Order Review
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
      <ion-toolbar>
          <ion-title size="small">
            Completed Order Detais
          </ion-title>
      </ion-toolbar>
  </ion-header>

  <ion-item *ngIf="viewState$ | async as vs">
    <ion-row *ngFor="let item of vs.recentCompletedOrder?.items">
      <ion-col size="12">
        <ion-img [src]="item?.thumbnail"></ion-img>
      </ion-col>
      <ion-col size="12">
        {{ item?.title }}
      </ion-col>
      <ion-col size="12">
        {{ item?.quantity }}
      </ion-col>
      <ion-col size="12">
        {{ item?.total }}
      </ion-col>
    </ion-row>
  </ion-item>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="home()" expand="block" fill="solid" shape="round">
      <ion-icon name="home"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>