<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="submitAddressForm()">
        <ion-icon name="save"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="warning">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <app-address-details-form #addressDetailsForm></app-address-details-form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<!-- <ion-footer>
  <ion-toolbar>
    <ion-button (click)="submitAddressForm()" expand="block" fill="solid">
      {{ 'Save' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer> -->