

::ng-deep ion-modal.dialog-modal {
    --width: 50%;
    --min-width: 320px;
    --height: 50%;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }

app-image-shell.item-image {
    --image-shell-loading-background: rgba(var(--shell-color-rgb), .10);
    --image-shell-spinner-color: rgba(var(--shell-color-rgb), .25);
}

.item-name app-text-shell {
    --text-shell-animation-background: rgba(var(--shell-color-rgb), .25);
    --text-shell-animation-color: rgba(var(--shell-color-rgb), .35);
    --text-shell-line-height: 14px;
}

.item-sale-price>app-text-shell {
    --text-shell-animation-background: rgba(var(--shell-color-rgb), .20);
    --text-shell-animation-color: rgba(var(--shell-color-rgb), .30);
    --text-shell-line-height: 16px;
}

.item-original-price>app-text-shell {
    --text-shell-animation-background: rgba(var(--shell-color-rgb), .20);
    --text-shell-animation-color: rgba(var(--shell-color-rgb), .30);
    --text-shell-line-height: 16px;
}


:host {
    --page-margin: var(--app-fair-margin);
    --page-background: var(--app-background);
    --page-items-gutter: calc(var(--page-margin) / 2);
    --page-color: var(--ion-color-primary);
}
