<lib-header *ngIf="viewState$ | async as vs" [headerData]="vs"></lib-header>

<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="navigateHome()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Fashion Listing</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="fashion-listing-content">
    <ng-container *ngIf="viewState$ | async as vs">
      <ion-row class="items-row">
        <ion-col size="6" class="listing-item" *ngFor="let product of vs.productList">
          <div class="item-image-wrapper">
            <a class="image-anchor" (click)="navigateDetails(product)">
              <app-aspect-ratio [ratio]="{w: 3, h: 4}">
                <app-image-shell class="item-image" animation="spinner" [src]="product.thumbnail"
                  [alt]="'product image'">
                </app-image-shell>
              </app-aspect-ratio>
            </a>
          </div>
          <ion-row class="item-body">
            <ion-col size="12" class="main-info">
              <h4 class="item-name">
                <a class="name-anchor">
                  <app-text-shell animation="gradient" [data]="product.title"></app-text-shell>
                </a>
              </h4>
            </ion-col>
          </ion-row>
          <ion-accordion-group>
            <ion-accordion>
              <ion-item class="ion-padding-top ion-padding-bottom ion-margin-left ion-margin-right" slot="header" color="primary">
                <ion-label>Price list</ion-label>
              </ion-item>

              <div (click)="selectVariant(variant)" class="price-list-content ion-margin-bottom ion-text-center" slot="content"
                *ngFor="let variant of product?.variants">

                <ion-label>{{ variant?.title }}</ion-label>

                <ion-row class="ion-text-center" *ngFor="let price of variant.prices">
                  <ion-col>
                    <div class="amount">{{ price.amount }}</div>
                  </ion-col>
                  <ion-col>
                    <div class="currency-code">{{ price.currency_code }}</div>
                  </ion-col>
                </ion-row>


                <!--

                <ion-note *ngFor="let price of variant.prices">
                  <div class="amount">{{ price.amount }}</div>
                  <div class="currency-code">{{ price.currency_code }}</div>
                </ion-note> -->

              </div>
            </ion-accordion>
          </ion-accordion-group>
        </ion-col>
      </ion-row>

    </ng-container>
  </ion-content>
</ion-content>