<ion-header>
  <ion-toolbar>
    <ion-title>
      Payment
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin">
    <ion-row>
      <ion-col>
        <ng-container *ngIf="viewState$ | async as vs">
          <div *ngIf="vs?.secretKey as clientSecret">
            <ngx-stripe-payment [clientSecret]="vs?.secretKey"></ngx-stripe-payment>
          </div>
        </ng-container>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="back()" color="primary" expand="block" fill="outline" shape="round">
          <ion-icon name="arrow-back"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="confirm()" color="primary" expand="block" fill="outline" shape="round">
          <ion-icon name="card"></ion-icon>
          <ion-label>Submit Card</ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>