<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="viewState$ | async as vs">

  <ion-grid *ngIf="vs.session; else myelse">
    <ion-toolbar>
      <ion-text>Customer Session Session Addresses</ion-text>
    </ion-toolbar>
    <ion-row class="buttons-row ion-text-center">
      <ion-col size="12">
        <ion-button color="success" (click)="newCustomerShippingAddress()" fill="outline" shape="round">
          <ion-icon name="add"></ion-icon>
        </ion-button>
        <ion-note>New address</ion-note>
      </ion-col>
    </ion-row>
    <ion-card *ngFor="let address of vs.session?.shipping_addresses">
      <ion-row class="buttons-row ion-text-center">
        <ion-col size="3">
          <ion-button color="primary" (click)="viewCustomerShippingAddress(address)" fill="outline" shape="round">
            <ion-icon name="search"></ion-icon>
          </ion-button>
          <ion-note>View</ion-note>
        </ion-col>

        <ion-col size="3">
          <ion-button color="warning" (click)="useBillingAddress(address)" fill="outline" shape="round">
            <ion-icon name="save"></ion-icon>
          </ion-button>
          <ion-note>Use as Billing</ion-note>
        </ion-col>

        <ion-col size="3">
          <ion-button color="warning" (click)="useShippingAddress(address)" fill="outline" shape="round">
            <ion-icon name="save"></ion-icon>
          </ion-button>
          <ion-note>Use as shipping</ion-note>
        </ion-col>
      </ion-row>

      <lib-address-card [address]="address"></lib-address-card>

      <ion-row class="buttons-row ion-text-center">
        <ion-col size="12">
          <ion-button (click)="deleteCustomerShippingAddress(address?.id)" color="danger" fill="outline" shape="round">
            <ion-icon name="close"></ion-icon>
          </ion-button>
          <ion-note color="danger">Delete</ion-note>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid>

  <ng-template #myelse>

  </ng-template>


</ion-content>